<footer class="main-footer">
    <strong>Copyright &copy; 2022-2023 <a href="https://ahlatci.com.tr/" target="_blank">Ahlatcı Holding</a>.</strong>
    Tüm hakları saklıdır.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>