<!-- Footer Etiketi Başlangıç -->
<footer class="bg-dark py-2">
    <div class="navbar">
        <div class="container">
            <p class="navbar-brand text-white fs-3">Copyright &copy; 2023. CNC Yazılım.</p>
            <div class="d-flex gap-3">
                <a href="https://tr-tr.facebook.com/AhlatciHolding/" target="_blank" class="btn btn-outline-warning fs-3 rounded-circle">
                    <i class="bi bi-facebook" style="color: blue;"></i>
                </a>
                <a href="https://twitter.com/AhlatciHolding" target="_blank" class="btn btn-outline-warning fs-3 rounded-circle">
                    <i class="bi bi-twitter" style="color: dodgerblue;"></i>
                </a>
                <a href="https://www.instagram.com/ahlatci.holding/" target="_blank" class="btn btn-outline-warning fs-3 rounded-circle">
                    <i class="bi bi-instagram" style="color: crimson;"></i>
                </a>
                <a href="https://www.linkedin.com/company/ahlatciholding/" target="_blank" class="btn btn-outline-warning fs-3 rounded-circle">
                    <i class="bi bi-linkedin" style="color: deepskyblue;"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Etiketi Bitiş -->