@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CNC Film Yönetim Paneli | Giriş Sayfası</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <h1><b>CNC Film</b> Projesi</h1>

        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Oturum açmak için giriş yapınız.</p>
                <form>
                    <div class="input-group mb-3">
                        <input id="txtUserName" type="text" class="form-control" placeholder="Kullanıcı Adı">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input id="txtPassword" type="password" class="form-control" placeholder="Şifre">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">Beni Hatırla!</label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button id="btnLogIn" type="button" class="btn btn-warning btn-block">Giriş</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mb-1">
                    <a href="forgot-password.html">Şifremi Unuttum!</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

    <div id="divMessages" class="mt-3">
    </div>

    <!-- jQuery -->
    <script src="~/admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/admin/dist/js/adminlte.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnLogIn").click(function () {

                var formDataObject =
                {
                    UserName: $("#txtUserName").val(),
                    Password: $("#txtPassword").val()
                };

                $.ajax({
                    url: "/Admin/Authentication/LogIn",
                    method: "post",
                    dataType: "json",
                    data: { dto: formDataObject },
                    success: function (response) {
                        if (response.isSuccess) {
                            window.location.href = "/Admin/Home/Index";
                        }
                        else {
                            var content = "<div class='alert alert-danger'>";

                            for (var i = 0; i < response.messages.length; i++) {
                                content += response.messages[i] + "<br />";
                            }

                            content += "</div>";

                            $("#divMessages").html(content);
                        }
                    }
                });

            });
        });
    </script>
</body>
</html>
