<!-- About Etiketi Başlangıç -->
<section id="about" class="container my-5">
    <h4 class="section-title fs-1 text-center">HAKKIMIZDA</h4>
    <div class="border-bottom m-auto my-3 rounded-5 text-center mb-5"></div>
    <p class="lead">CNC Film & Dizi, sinema tutkunlarının aradığı eşsiz bir online platformdur. Amacımız, izleyicilerimize sınırsız eğlence ve keşif fırsatları sunmaktır. Geniş ve zengin içerik kütüphanemizde binlerce film ve dizi bulunmaktadır. En yeni ve popüler yapımlardan klasiklere, bağımsız filmlerden ödüllü dizilere kadar geniş bir yelpazede içerikleri sizinle buluşturuyoruz.</p>
    <p class="lead">CNC Film & Dizi, yüksek kalite ve kesintisiz izleme deneyimiyle izleyicilerimize gerçek sinema atmosferini yaşatmayı hedefler. HD ve 4K çözünürlükleriyle, görsel açıdan en üst düzeyde keyif almanızı sağlar. Dilerseniz altyazı veya dublaj seçeneklerini kullanabilir, izleme deneyiminizi kişiselleştirebilirsiniz.</p>
    <p class="lead">Özel olarak tasarlanmış öneri sistemi, sizin izleme alışkanlıklarınızı analiz eder ve ilgi alanlarınıza göre size özel içerikleri sunar. Sizi yeni ve heyecan verici yapımlarla buluştururken, keşfetmek istediğiniz türlerdeki filmler ve diziler için size rehberlik eder.</p>
    <p class="lead">CNC Film & Dizi, kullanıcı dostu arayüzü sayesinde kolay ve hızlı bir şekilde istediğiniz içeriği bulmanızı sağlar. Arama özelliği, kategoriler, oyuncular ve yönetmenler gibi filtreleme seçenekleriyle istediğiniz içeriği saniyeler içinde bulabilirsiniz.</p>
    <p class="lead">Gelişmiş çoklu cihaz desteğiyle CNC Film & Dizi'ye her yerden erişim sağlayabilirsiniz. Bilgisayarınızdan, akıllı telefonunuzdan veya tabletinizden platformumuza giriş yaparak, izleme deneyimini istediğiniz zaman ve istediğiniz yerde yaşayabilirsiniz.</p>
    <p class="lead">CNC Film & Dizi olarak, sinema tutkunları için vazgeçilmez bir adres olmayı hedefliyoruz. İster aksiyon, ister romantik, ister bilim kurgu olsun, her türden içeriği bulabileceğiniz geniş bir dünya sunuyoruz. CNC Film & Dizi'ye hoş geldiniz, keyifli seyirler!</p>
</section>
<!-- About Etiketi Bitiş -->