<!-- Features Etiketi Başlangıç -->
<section id="features" class="container my-5 text-center">
    <h4 class="section-title fs-1">HEYECAN DOLU ANLAR İÇİN DOĞRU ADRES</h4>
    <div class="border-bottom m-auto my-3 rounded-5"></div>
    <p class="lead fs-4 my-5">Adım at, sınırsız eğlencenin dünyasına giriş yap! En sevdiğin dizilerin ve filmlerin bir araya geldiği platformumuzda, her anını heyecanla geçireceksin. Binlerce içerik, sonsuz seçenekler, tek bir tıkla elinin altında!</p>
    <div class="container text-center my-5">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 px-3">
                <i class="bi bi-collection-play-fill fs-1"></i>
                <h5>Geniş İçerik Kütüphanesi</h5>
                <p>Binlerce dizi ve film arasından seçim yapabileceğin geniş bir kütüphane, farklı türlerdeki içeriklere kolay erişim sağlar.</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 px-3">
                <i class="bi bi-film fs-1"></i>
                <h5>Kişiselleştirilmiş Öneriler</h5>
                <p>İzleme alışkanlıklarını analiz eden bir öneri sistemi sayesinde, senin ilgi alanlarına uygun dizi ve filmleri önerir ve yeni keşifler yapmana yardımcı olur.</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 px-3">
                <i class="bi bi-badge-4k fs-1"></i>
                <h5>Yüksek Kalite</h5>
                <p>HD veya 4K çözünürlükte kesintisiz izleme deneyimi sunan bir platform, en sevdiğin içerikleri tam anlamıyla keyifle izlemen için tasarlanmıştır.</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 px-3">
                <i class="bi bi-cpu fs-1"></i>
                <h5>Çoklu Cihaz Desteği</h5>
                <p>Web tarayıcılarından mobil uygulamalara kadar farklı cihazlarda kullanılabilen bir platform, istediğin zaman istediğin yerde dizi ve film keyfini yaşamanı sağlar.</p>
            </div>
        </div>
    </div>
</section>
<!-- Features Etiketi Bitiş-->