<!-- Asked Question Etiketi Başlangıç -->
<section id="asked-question" class="container my-5 text-center">
    <h4 class="section-title fs-1">SIKÇA SORULAN SORULAR</h4>
    <div class="border-bottom m-auto my-3 rounded-5"></div>
    <p class="lead fs-4 my-5">Sıkça Sorulan Sorular bölümümüz düzenli olarak güncellenir ve yeni kullanıcıların ve mevcut üyelerimizin sorularını yanıtlamak için sürekli çaba gösteririz. Eğer burada aradığınızı bulamazsanız, doğrudan destek ekibimizle iletişime geçmekten çekinmeyin; uzmanlarımız size yardımcı olmaktan mutluluk duyacaktır.</p>
    <div class="container">
        <div class="question">
            <nav class="navbar navbar-dark bg-warning">
                <div class="container-fluid">
                    <button class="d-block w-100 navbar-toggler text-dark border-0 p-3 fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        CNC Film Nedir?
                    </button>
                </div>
            </nav>
            <div class="collapse active show" id="navbarToggleExternalContent" data-bs-theme="dark">
                <div class="bg-dark p-4 text-white">
                    <p class="lead">CNC Film & Dizi; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.</p>
                    <p class="lead">Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!</p>
                </div>
            </div>
        </div>
        <div class="question">
            <nav class="navbar navbar-dark bg-warning">
                <div class="container-fluid">
                    <button class="d-block w-100 navbar-toggler text-dark border-0 p-3 fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent2" aria-controls="navbarToggleExternalContent2" aria-expanded="false" aria-label="Toggle navigation">
                        Nerede İzleyebilirim?
                    </button>
                </div>
            </nav>
            <div class="collapse" id="navbarToggleExternalContent2" data-bs-theme="dark">
                <div class="bg-dark p-4 text-white">
                    <p class="lead">İstediğiniz yerde, istediğiniz zaman izleyin. Bilgisayarınızda cncfilm.com adresinden veya akıllı TV'ler, akıllı telefonlar, tabletler, medya oynatıcılar ve oyun konsolları dahil cnc film uygulamasını sunan, internet bağlantılı herhangi bir cihazda anında izlemek için cnc film hesabınızla oturum açın.</p>
                    <p class="lead">Favori içeriklerinizi iOS, Android veya Windows 10 uygulamasıyla da indirebilirsiniz. Seyahatteyken ve internet bağlantısı olmadan izlemek için indirilenleri kullanın. CNC Film'i her yere beraberinizde götürün.</p>
                </div>
            </div>
        </div>
        <div class="question">
            <nav class="navbar navbar-dark bg-warning">
                <div class="container-fluid">
                    <button class="d-block w-100 navbar-toggler text-dark border-0 p-3 fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent3" aria-controls="navbarToggleExternalContent3" aria-expanded="false" aria-label="Toggle navigation">
                        CNC Film Çocuklar İçin Uygun Mudur?
                    </button>
                </div>
            </nav>
            <div class="collapse" id="navbarToggleExternalContent3" data-bs-theme="dark">
                <div class="bg-dark p-4 text-white">
                    <p class="lead">Üyeliğinize dâhil olan CNC Film Çocuk deneyimi, çocukların ailece izlenebilecek dizi ve filmleri kendilerine özel bir alanda izlemelerini sağlarken kontrolü ebeveynlere verir.</p>
                    <p class="lead">Çocuk profillerinde bulunan PIN korumalı ebeveyn kontrolleri sayesinde, çocukların izleyebileceği içeriklerin yetişkinlik düzeylerini kısıtlayabilir ve onların görmesini istemediğiniz belirli içerikleri engelleyebilirsiniz.</p>
                </div>
            </div>
        </div>
        <div class="question">
            <nav class="navbar navbar-dark bg-warning">
                <div class="container-fluid">
                    <button class="d-block w-100 navbar-toggler text-dark border-0 p-3 fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent4" aria-controls="navbarToggleExternalContent4" aria-expanded="false" aria-label="Toggle navigation">
                        CNC Film'de Ne İzleyebilirim?
                    </button>
                </div>
            </nav>
            <div class="collapse" id="navbarToggleExternalContent4" data-bs-theme="dark">
                <div class="bg-dark p-4 text-white">
                    <p class="lead">CNC Film, uzun metrajlı filmler, belgeseller, diziler ve programlar, anime, ödüllü Netflix orijinal içerikleri ve daha fazlasından oluşan kapsamlı bir kütüphaneye sahiptir. İstediğiniz her zaman, istediğiniz kadar çok şey izleyin.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Asked Question Etiketi Bitiş -->