<!-- Slider Etiketi Başlangıç  -->
<section id="slider-menu" class="container-fluid p-0">
    <div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/user/images/bg.jpg" class="d-block w-100" alt="...">
                <div id="carousel-caption" class="carousel-caption d-none d-md-block w-50 m-auto rounded-4 px-5 py-3 mb-5">
                    <h5 class="fs-1 fw-bold">Heyecanı Evine Getir!</h5>
                    <p class="fs-5">Sinema tutkunları için vazgeçilmez bir adres olmayı hedefliyoruz. İster aksiyon, ister romantik, ister bilim kurgu olsun, her türden içeriği bulabileceğiniz geniş bir dünya sunuyoruz. CNC Film & Dizi'ye hoş geldiniz, keyifli seyirler!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/user/images/bg-2.jpg" class="d-block w-100" alt="...">
                <div id="carousel-caption" class="carousel-caption d-none d-md-block w-50 m-auto rounded-4 px-5 py-3 mb-5">
                    <h5 class="fs-1 fw-bold">Dünyanın En İyi Filmleri Bir Tık Ötenizde!</h5>
                    <p class="fs-5">Gelişmiş çoklu cihaz desteğiyle CNC Film & Dizi'ye her yerden erişim sağlayabilirsiniz. Bilgisayarınızdan, akıllı telefonunuzdan veya tabletinizden platformumuza giriş yaparak, izleme deneyimini istediğiniz zaman ve istediğiniz yerde yaşayabilirsiniz.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/user/images/bg-3.webp" class="d-block w-100" alt="...">
                <div id="carousel-caption" class="carousel-caption d-none d-md-block w-50 m-auto rounded-4 px-5 py-3 mb-5">
                    <h5 class="fs-1 fw-bold">Sınırsız Eğlence, Sonsuz Seçenekler!</h5>
                    <p class="fs-5">Geniş ve zengin içerik kütüphanemizde binlerce film ve dizi bulunmaktadır. En yeni ve popüler yapımlardan klasiklere, bağımsız filmlerden ödüllü dizilere kadar geniş bir yelpazede içerikleri sizinle buluşturuyoruz.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- Slider Etiketi Bitiş -->